<html class="show">

<body class="show">
    <div class="w-100 justify-content-center d-flex mb-3"><img class="mt-5 rounded-circle w-25" src="https://drgsearch.com/wp-content/uploads/2020/01/no-photo.png" alt="no img"></div>
    <h3 class="text-center"><%= @user.name.capitalize %></h3>
    <% @user.created_at.strftime("%b %d, %Y") %>
    <div>
        <div class="w-100 my-4 d-flex align-items-start"><i class="fa fa-gift mx-3" aria-hidden="true"></i>
            <div class="link"><%= link_to "All my wishes", wishlists_path, class: "links" %></div>
        </div>
        <div class="w-100 my-4 d-flex align-items-start"><i class="fas fa-credit-card mx-3"></i>
            <div class="link"><%= link_to "All payments", payments_path, class: "links" %></div>
        </div>
        <div class="w-100 my-4 d-flex align-items-start"><i class="fa fa-users mx-3" aria-hidden="true"></i>
            <div class="link"><%= link_to "All groups", groups_path, class: "links" %></div>
        </div>
        <div class="w-100 my-4 d-flex align-items-start"><i class="fas fa-sign-out-alt mx-3"></i>
            <div class="link"><%= link_to "Log out", logout_path, method: :delete, class: "links" %></div>
        </div>
    </div>

</body>

</html>