     <nav class="login-nav p-2 navbar-top">
         <div class=" d-flex">
             <div class="col-3"><a href="/groups/<%=@group.id%>"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></div>
             <div class="col-3 groups-div">CREATE WISH</div>
         </div>
     </nav>
     <div>
         <%= form_with model: [@group, @group.wishlists.build] do |f|%>
         <%= f.hidden_field :author_id, value: current_user.id  %>
         <%= f.text_field :name,id: "wishname", class: 'login-field', placeholder: "Wish Name", required: true %>
         <%= f.number_field :amount,id: "wishamount", class: 'login-field mt-0', placeholder: "$", required: true %>
         <div class="green-field">
             <%= f.submit "Create", class: "green-button" %>
         </div>
         <% end %>
     </div>